.centrar{
    display: flex;
    justify-content: center;
}
.Cabecera{
    border-bottom: 1px solid white;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 1em;
    width: 99vw;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0);
}
.Cabecera-h1{
    padding: 0.5em;
    margin: 0 1em;
    font-size: 1.5em;
    border-bottom: 2px solid grey;
}
.Cabecera-a{
    text-decoration: none;
    color: rgb(0, 181, 209);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Cabecera-a:hover{
    color: green;
}
.menu_header{
    width: 100%;
    align-items: end;

}